doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        if stylesheets[page]
            link(rel='stylesheet', href=stylesheets[page])
        script(src='/js/libs/require.js')
    body
        include /navbar
        block content
        include /footer
        script
            | require(['/js/common.js'], function(common) {
            |    require(['stickyfooter/main']);
            if applications[page]
                | require(['#{applications[page]}']);
            | });
