doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body
        include /navbar
        block content
        include /footer
        script
            | require(['/js/common.js'], function(common) {
            |    require(['stickyfooter/main']);
            if applications[page]
                | require(['#{applications[page]}']);
            | });
