extends /layout

block content
    div.splash
        p.logo
            | Express Prototype #2
    
    section.wrapper
        article
            header
                h1= title
            section
                p: | Welcome !
