@import "settings";

@import "foundation/components/grid";
@import "foundation/components/top-bar";
@import "foundation/components/type";

footer {
    background-color: #333;
    color: white;
    p {
        text-align: center;
    }
}
